{%extends "base.html"%}

{%block titulo%}Añadir socio a grupo{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Menú principal</li>
<li class="breadcrumb-item">Mis grupos</li>
<li class="breadcrumb-item">Grupo</li>
<li class="breadcrumb-item active">Añadir socio a grupo</li>
{%endblock%}

{%block cuerpo%}
<div class="container">
    <div class="offset-lg-2 col-lg-8 titulo">
        <h2>Añadir socio a grupo</h2>
    </div>
</div>
<div class="container">
    <div class="offset-lg-2 col-lg-8 sombreado">
        <form action="php/anadirSocioGrupo.php" method="post">
            <div class="class-group">
                <label for="socioAnadir">Socio a añadir</label>
                <select name="socioAnadir" id="" class="form-control">
                    {% if socio != -1 %}
                    <option value="{{ socio.username }}">{{ socio.nombre }}</option>
                    {% else %}

                    {%for s in socios%}
                    <option value="{{ s.username }}">{{ s.nombre }}</option>
                    {% endfor %}

                    {% endif %}
                </select>
            </div>
            <div class="class-group">
                <label for="grupoAnadir">Grupo a añadir</label>
                <select name="grupoAnadir" id="" class="form-control">
                    {% if grupo != -1 %}
                    <option value="{{ grupo }}">{{ grupo }} </option>
                    {% else %}

                    {%for g in grupos%}
                    <option value="{{ g.nombre }}">{{ g.nombre }}</option>
                    {% endfor %}

                    {% endif %}
                </select>
            </div>
            <div class="boton_centro">
                <button type="submit" class="btn btn-primary">AÑADIR A GRUPO</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}