<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block estilos%}
        <link rel="stylesheet" href="styles/general.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {%endblock%}

    {%block scripts%}
        <script src="js/validaciones.js"></script>
        <script src="js/generarContrasena.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    {%endblock%}
    <title>Asociación Vale - {%block titulo%}{%endblock%}</title>
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="img-logo mr-auto">
        <a href="index.php">
            <img src="img/logo.png" alt="Página de Inicio" class="navbar-brand">
        </a>
    </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="padding-right: 2%;">
        <ul class="navbar-nav">
          {%if rol == "admin" or rol == "ambos" or rol == "facilitador"%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Socios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {%if rol == "facilitador" or rol == "ambos"%}
              <a class="dropdown-item" href="mis_socios.php">Mis socios</a>
              {%endif%}
              {%if rol == "admin" or rol == "ambos"%}
              <a class="dropdown-item" href="registrosocios.php">Registrar socios</a>
              <a class="dropdown-item" href="listado_socios.php">Lista de socios</a>
              {%endif%}
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tareas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if rol == "admin" or rol == "ambos"  %}
                <a class="dropdown-item" href="listado_tareas.php">Listado de tareas</a>
              {% endif %}
              {% if rol == "facilitador" or rol == "ambos" %}
                <a class="dropdown-item" href="mis_tareas.php">Mis tareas</a>
                <a class="dropdown-item" href="crear_tarea.php">Crear tarea</a>
                <a class="dropdown-item" href="listado_asignacion.php">Mis tareas enviadas</a>
              {% endif %}
            </div>
          </li>

          {%if rol == "facilitador" or rol == "ambos"%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Grupos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="mis_grupos.php">Mis grupos</a>
              <a class="dropdown-item" href="crear_grupo.php">Crear grupo</a>
            </div>
          </li>

          {%endif%}

          {%if rol == "admin" or rol == "ambos"%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Administradores
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="listado_administradores.php">Lista de administradores</a>
              <a class="dropdown-item" href="registro.php">Registrar administrador/facilitador</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Facilitadores
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="listado_facilitadores.php">Lista de facilitadores</a>
              <a class="dropdown-item" href="registro.php">Registrar administrador/facilitador</a>
            </div>
          </li>
          {%endif%}
          {%endif%}
          {%if rol | length > 0%}
          <li class="nav-item dropdown" style="margin-top: -2%;">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{img}}" class="image--cover" alt="Imagen de perfil">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="perfil.php?username={{cuenta}}" class="dropdown-item">Mi perfil</a>
                <a data-toggle="modal" data-target="#modalCierreSesion" class="dropdown-item">Cerrar sesión</a>
            </div>
          </li>
            {%else%}
            <li class="nav-link"><a href="login.php" class="text-white">Iniciar sesión</a></li>
            {%endif%}
        </ul>
      </div>
    </nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {%block breadcrumbs%}
            {%endblock%}
        </ol>
      </nav>
</header>

<body>
    <div class="alert alert-warning" id="alert-dev">
        Esta web está en construcción
    </div>

    <div class="modal fade" id="modalCierreSesion" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Cierre de sesión</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>¿Deseas cerrar la sesión?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="location.replace('php/cierreSesion.php')">Sí</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>

    {%block cuerpo%}
    {%endblock%}
</body>

<footer class="bg-dark text-white card-footer">
    Asociación Vale &copy; 2020. Diseño realizado por MarTres Tech-CE.
</footer>
</html>