{%extends "base.html"%}

{%block titulo%}Crear tarea{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Menú principal</li>
<li class="breadcrumb-item">Tareas</li>
<li class="breadcrumb-item active">Crear tarea</li>
{%endblock%}

{%block cuerpo%}
<div class="offset-1 col-10 titulo">
    <h1>Crear tarea</h1>
</div>

<div class="offset-1 col-10 sombreado">
    <form action="php/crearTarea.php" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="img/phancho.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="fotoTarea" name="fotoTarea">
                              <label class="custom-file-label" for="inputGroupFile01" aria-describedby="inputGroupFileAddon02">Buscar imagen</label>
                            </div>
                          </div>
                    </div>
                  </div>

                  <div class="card">
                    <img class="card-img-top" src="img/phancho.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="audioTarea" name="audioTarea">
                              <label class="custom-file-label" for="inputGroupFile01" aria-describedby="inputGroupFileAddon02">Buscar audio</label>
                            </div>
                          </div>
                    </div>
                  </div>
    
               
                  <div class="card">
                    <img class="card-img-top" src="img/phancho.jpg" alt="Card image cap" width="80%">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="videoTarea" name="videoTarea">
                              <label class="custom-file-label" for="inputGroupFile01" aria-describedby="inputGroupFileAddon02">Buscar vídeo</label>
                            </div>
                          </div>
                    </div>
                  </div>
                  
            </div>
            <div class="col-8">
                <div class="class-group">
                    <label for="nombreTarea">Título de la tarea</label>
                    <input type="text" name="nombreTarea" id="nombreTarea" class="form-control">
                </div>
                <div class="class-group">
                    <label for="descripcionTarea">Descripción</label>
                    <textarea name="descripcionTarea" id="descripcionTarea" cols="30" rows="25" class="form-control"></textarea>
                </div>
            </div>
        </div>

        <div class="boton_centro">
            <button type="submit" class="btn btn-success">CREAR TAREA</button>
            <button class="btn btn-primary">ENVIAR A SOCIO</button>
            <button class="btn btn-danger">CANCELAR</button>
        </div>
    </form>
</div>
{%endblock%}
