{%extends "base.html"%}

{%block titulo%}Desvincular socio{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Menú principal</li>
<li class="breadcrumb-item">Mis socios</li>
<li class="breadcrumb-item active">Desvincular socio</li>
{%endblock%}

{%block cuerpo%}
<div class="container">
    <div class="offset-lg-2 col-lg-8 titulo">
        <h2>Desvincular socio</h2>
    </div>
</div>
<div class="container">
    <div class="offset-lg-2 col-lg-8 sombreado">
        <form action="php/desvincularSocio.php" method="post">
            <div class="class-group">
                <label for="socioAVincular" >Socio a desvincular</label>
                <select name="socioAVincular" id="socioAVincular" class="form-control">
                     {%for socio in listaSocios%}
                        <option value="{{socio.username}}">{{socio.nombre}}</option>
                     {%endfor%}
                </select>
            </div>

            <div class="boton_centro">
                <button type="submit" class="btn btn-danger">DESVINCULAR</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}