{%extends "base.html"%}

{%block titulo%}Crear grupo{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Menú principal</li>
<li class="breadcrumb-item active">Crear grupo</li>
{%endblock%}

{%block cuerpo%}
<div class="container">
    <div class="offset-lg-2 col-lg-8 titulo">
        <h2>Editar grupo de socios</h2>
    </div>
</div>
<div class="container">
    <div class="offset-lg-2 col-lg-8 sombreado">
        <form action="php/editarGrupo.php" method="POST" class="offset-lg-1 col-lg-10">
            <div class="form-group">
                <label for="nombre1">Nombre del grupo</label>
                <input type="text" id="nombre1" name="nombre1" value="{{infoGrupo.nombre}}" class="form-control" disabled>
                <input type="text" id="nombre" name="nombre" value="{{infoGrupo.nombre}}" class="form-control" style="display: none;">
                <label for="facilitadorACargo1">Facilitador a cargo</label>
                <input type="text" id="facilitadorACargo1" name="facilitadorACargo1" value="{{infoGrupo.facilitadorACargo}}" class="form-control" disabled>
                <input type="text" id="facilitadorACargo" name="facilitadorACargo" value="{{infoGrupo.facilitadorACargo}}" class="form-control" style="display: none;">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="3">{{infoGrupo.descripcion}}</textarea>
            </div>
            <div class="espacio"></div>
            <div class="col-8 offset-1">
                <button type="submit" id="boton" class="btn btn-success">GUARDAR CAMBIOS</button>
                <button type="button" id="boton" class="btn btn-danger" onclick="window.location.replace('mis_grupos.php')">CANCELAR</button>
            </div>
        </form>
    </div>
</div>

{%endblock%}