{%extends "base.html"%}

{%block titulo%}Enviar Tarea{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Menú principal</li>
<li class="breadcrumb-item">Tareas</li>
<li class="breadcrumb-item active">Enviar tarea</li>
{%endblock%}


{%block cuerpo%}
<div class="offset-1 col-10 titulo">
    <h2>Enviar tarea</h2>
</div>

<div class="offset-1 col-10 sombreado">
    <form action="php/enviarTareaGrupo.php" method="post" enctype="multipart/form-data">
        <div class="class-group">
            <label for="nombre">Título de la tarea</label>
            <label for="nombreFalso" hidden>Título de la tarea</label>
            <input type="text" name="nombreFalso" id="nombreFalso" value="{{nombreTarea}}" class="form-control" disabled>
            <input type="text" name="nombre" id="nombre" value="{{nombreTarea}}" class="form-control" hidden>
            <input type="text" name="creador" id="creador" value="{{creador}}" class="form-control" hidden>
        </div>
        <div class="class-group">
            <label for="permiteAudio">Audio</label>
            <input type="checkbox" name="permiteAudio" id="permiteAudio">
            <label for="permiteVideo">Vídeo</label>
            <input type="checkbox" name="permiteVideo" id="permiteVideo">
            <label for="permiteTexto">Texto</label>
            <input type="checkbox" name="permiteTexto" id="permiteTexto">
        </div>
        <div class="class-group">
            <label for="fechaLimiteEntrega">Fecha de entrega</label>
            <input type="date" name="fechaLimiteEntrega" id="fechaLimiteEntrega">
        </div>
        <div class="class-group">
            <label for="socioAsignado">Enviar a</label>
            <select type="date" name="grupoAsignado" id="grupoAsignado" class="form-control">
                {%for grupo in grupos%}
                <option value="{{ grupo.nombre }}">{{ grupo.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="boton_centro">
            <button type="submit" class="btn btn-primary">ENVIAR</button>
        </div>
    </form>
</div>

<!--Modal de error por incompatibilidades en preferencias o enunciado-->
{% if error == true %}
<div class="modal fade" tabindex="-1" role="dialog" id="errorModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Error en el envío de tarea</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>No hay medios para entender de que va la tarea.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
            </div>
        </div>
    </div>
</div>
<div onload="errorRegistro()" id="errorLabel" class="invisibilidad">{{ error }}</div>
<script type="text/javascript" src="../js/errorRegistro.js"></script>
{% endif %}
{%endblock%}