{%extends "base.html"%}

{%block titulo%}Listado de Tareas{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Menú principal</li>
<li class="breadcrumb-item active">Tareas asignadas</li>
{%endblock%}


{%block cuerpo%}
<div class="container">
    <div class="offset-lg-2 col-lg-8 titulo">
        <h1>Tareas enviadas</h1>
    </div>
</div>
<div class="container">
    <div class="offset-lg-2 col-lg-8 sombreado">
        <script src="js/buscarTablas.js"></script>
        <label for="busqueda" hidden>Buscar tarea</label>
        <input type="text" id="busqueda" onkeyup="buscarTabla()" placeholder="Buscar tarea..." class="form-control">

        <table id="tablaBusqueda" class="table table-hover table-responsive">
            <tbody>
                {% for tarea in tareas %}
                <tr>
                    <td scope="row" class="td1">
                        <a href="./tarea_enviada.php?nombre={{tarea.nombreTarea}}&socio={{tarea.socioAsignado}}&fechaEntrega={{tarea.fechaEntrega}}">{{ tarea.nombreTarea }}</a> ({{ nombres[loop.index0] }})
                        {% if tarea.nuevoMensajeFacilitador == true %}
                            <img src="img/Admin-private-289909293847829384954937914384.png" alt="Nuevo mensaje" width="10%">
                        {% endif %}

                        {% if tarea.vista == false %}
                            <img src="img/Admin-private-29821734098432348123322835302.png" alt="Aún no vista" width="10%">
                        {% endif %}
                    </td>
                    <td class="tdx"><button class="btn btn-danger bt1" onclick="completarCamposAsignacion('{{tarea.creador}}','{{tarea.socioAsignado}}','{{tarea.nombreTarea}}','{{tarea.fechaEntrega}}')"  data-toggle="modal" data-target="#modalEliminar">ELIMINAR</button></td>
                    <td class="tdn"><a href="./tarea_enviada.php?nombre={{tarea.nombreTarea}}&socio={{tarea.socioAsignado}}&fechaEntrega={{tarea.fechaEntrega}}">►</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal" tabindex="-1" role="dialog" id="modalEliminar">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Eliminar asignación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Deseas eliminar la siguiente asignación?</p>
                        <h4 id="nombreAEliminar"></h4>
                    </div>
                    <div class="modal-footer">
                        <form action="php/eliminarAsignacion.php" method="post">
                            <label for="creador" hidden>Buscar tarea</label>
                            <input type="text" name="creador" id="creador" value="" style="display: none;">
                            <label for="socioAsignado" hidden>Buscar tarea</label>
                            <input type="text" name="socioAsignado" id="socioAsignado" value="" style="display: none;">
                            <label for="nombreTarea" hidden>Buscar tarea</label>
                            <input type="text" name="nombreTarea" id="nombreTarea" value="" style="display: none;">
                            <label for="fechaEntrega" hidden>Buscar tarea</label>
                            <input type="text" name="fechaEntrega" id="fechaEntrega" value="" style="display: none;">
                            <button type="submit" class="btn btn-danger">SÍ</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}