{%extends "base.html"%}

{%block titulo%}Listado de  Socios{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Página principal</li>
<li class="breadcrumb-item active">Listado de Administradores</li>
{%endblock%}


{%block cuerpo%}
<div class="container">
    <div class="offset-lg-2 col-lg-8 titulo">
        <h2>Listado de Socios</h2>
    </div>
</div>
<div class="container">
    <div class="offset-lg-2 col-lg-8 sombreado">
        <table class="table table-hover table-responsive">
            <tbody>
                {% for nombre in nombres %}
                <tr>
                    <td scope="row">{{ nombre }}</th>
                    <td><button class="btn btn-warning" class="offset-lg-2 col-lg-8 btn btn-primary btn-warning">Editar</button></td>
                    <td><button class="btn btn-danger" class="offset-lg-2 col-lg-8 btn btn-primary">Eliminar</button></td>
                    <td>►</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}