{%extends "base.html"%}

{%block titulo%}Listado de Tareas{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Menú principal</li>
<li class="breadcrumb-item active">Listado de Tareas</li>
{%endblock%}


{%block cuerpo%}
<div class="container">
    <div class="offset-lg-2 col-lg-8 titulo">
        <h1>Listado de Tareas</h1>
    </div>
</div>
<div class="container">
    <div class="offset-lg-2 col-lg-8 sombreado">
        <script src="js/buscarTablas.js"></script>
        <label for="busqueda" hidden>Buscar tarea</label>
        <input type="text" id="busqueda" onkeyup="buscarTabla()" placeholder="Buscar tarea..." class="form-control">

        <table id="tablaBusqueda" class="table table-hover table-responsive">
            <tbody>
                {% for nombre in nombres %}
                <tr>
                    <td scope="row" class="td1"><a href="./tarea.php?nombre={{nombre}}&creador={{creadores[loop.index0]}}">{{ nombre }}</a> (<a href="perfil.php?username={{creadores[loop.index0]}}">{{creadores[loop.index0]}}</a>) </td>
                    <td class="tdx"><button class="btn btn-danger bt1" onclick="completarCamposTareaCreador('{{nombre}}','{{creadores[loop.index0]}}')"  data-toggle="modal" data-target="#modalEliminar">ELIMINAR</button></td>
                    <td class="tdn"><a href="./tarea.php?nombre={{nombre}}&creador={{creadores[loop.index0]}}">►</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal" tabindex="-1" role="dialog" id="modalEliminar">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Eliminar tarea</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Deseas eliminar la siguiente tarea?</p>
                        <img class="card-img-top" src="img/phancho.jpg" alt="Card image cap">
                        <h4 id="nombreAEliminar"></h4>
                    </div>
                    <div class="modal-footer">
                        <form action="php/eliminarTarea.php" method="post">
                            <label for="tareaAEliminar" hidden>Buscar tarea</label>
                            <input type="text" name="tareaAEliminar" id="tareaAEliminar" value="" style="display: none;">
                            <label for="facilitador" hidden>Buscar tarea</label>
                            <input type="text" name="facilitador" id="facilitador" value="{{usuario}}" hidden>
                            <button type="submit" class="btn btn-danger">SÍ</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}