{%extends "base.html"%}

{%block titulo%}Inicio de sesión{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Home</li>
<li class="breadcrumb-item active">Listado de facilitadores</li>
{%endblock%}


{%block cuerpo%}
<div class="container">
    <div class="offset-lg-2 col-lg-8 titulo">
        <h2>Listado facilitadores</h2>
    </div>
</div>
<div class="container">
    <div class="offset-lg-2 col-lg-8 sombreado">
        <table class="table table-hover table-responsive">
            <tbody>
                {% for i in nombres %}
                <tr>
                    <td>{{ i }}</td>
                    <td> <button id="boton" class="btn btn-warning" class = "offset-lg-2 col-lg-8">Editar</button> </td>
                    <td> <button id="boton" class="btn btn-danger" class = "offset-lg-2 col-lg-8">Eliminar</button> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}