{%extends "base.html"%}

{%block titulo%}Listado de Administradores{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Menú principal</li>
<li class="breadcrumb-item active">Listado de Administradores</li>
{%endblock%}


{%block cuerpo%}
<div class="container">
    <div class="offset-lg-2 col-lg-8 titulo">
        <h2>Listado de Administradores</h2>
    </div>
</div>
<div class="container">
    <div class="offset-lg-2 col-lg-8 sombreado">
        <table class="table table-hover table-responsive">
            <tbody>
            {% for nombre in nombres %}
              <tr>
                <td scope="row" class="td1"><a href="perfil.php?username={{nombre.username}}">{{nombre.nombre}}</a></td>
                <td class="tdx"><button class="btn btn-warning bt1" onclick="window.location.replace('editar.php?username={{nombre.username}}')">EDITAR</button></td>
                <td class="tdx"><button class="btn btn-danger bt1">ELIMINAR</button></td>
                <td class="tdn">►</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{%endblock%}