{%extends "base.html"%}

{%block titulo%}Menú principal{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item active">Menú principal</li>
{%endblock%}

{%block cuerpo%}
<div class="container">
    <div class="offset-lg-4 col-lg-4 titulo">
        <h2>Menú principal</h2>
    </div>
</div>
<div class="container">
    <div class="offset-lg-4 col-lg-4 sombreado">
       <div class="container">
           <div class="row">
            <div class="container">
                <a href="registro.php">
                    Registrar administrador o facilitador
                </a>
                <a href="registrosocios.php">
                    Registrar socio
                </a>
            </div>
           </div>
           <div class="row">
            <div class="container">
                <a href="listado_facilitadores.php">
                    Listado facilitadores
                </a>
                <a href="listado_administradores.php">
                    Listado administradores
                </a>
                <a href="listado_socios.php">
                    Listado socios
                </a>
                <a href="mis_socios.php">
                    Mis socios
                </a>
            </div>
           </div>
           <div class="row">

           </div>
       </div>
    </div>
</div>
{%endblock%}