{%extends "base.html"%}

{%block titulo%}Menú principal{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item active">Menú principal</li>
{%endblock%}

{%block cuerpo%}
<div class="">
    <div class="offset-sm-1 col-sm-10 titulo menu">
        <h2>Menú principal</h2>
    </div>
</div>
<div class="">
    <div class="offset-sm-1 col-sm-10 sombreado menu">
        <div class="row" style="padding-left: 10px; padding-right: 10px;">
            {%if rol == "ambos" or rol=="admin"%}
            <div class="card col-lg-3 col-sm-6">
                <a href="registrosocios.php">
                    <img class="card-img-top" src="img/OtroSocio.png" alt="Añadir socio">
                    <div class="card-body">
                        <h5 class="card-title">Registrar socio</h5>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-sm-6">
                <a href="registro.php">
                    <img class="card-img-top" src="img/OtroAdministrador.png" alt="Añadir personal">
                    <div class="card-body">
                        <h5 class="card-title">Registrar facilitador o administrador</h5>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-sm-6">
                <a href="listado_administradores.php">
                    <img class="card-img-top" src="img/Administrador.png" alt="Administradores">
                    <div class="card-body">
                        <h5 class="card-title">Listado de administradores</h5>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-sm-6">
                <a href="listado_facilitadores.php">
                    <img class="card-img-top" src="img/Facilitador.png" alt="Facilitadores">
                    <div class="card-body">
                        <h5 class="card-title">Listado de facilitadores</h5>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-sm-6">
                <a href="listado_socios.php">
                    <img class="card-img-top" src="img/Socio.png" alt="Socios">
                    <div class="card-body">
                        <h5 class="card-title">Listado de socios</h5>
                    </div>
                </a>
            </div>
            {%endif%}

            {%if rol=="ambos" or rol=="facilitador"%}
            <div class="card col-lg-3 col-sm-6">
                <a href="mis_socios.php">
                    <img class="card-img-top" src="img/Socios.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mis socios</h5>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-sm-6">
                <a href="vincular_socio.php">
                    <img class="card-img-top" src="img/Vincular.png" alt="Vincular">
                    <div class="card-body">
                        <h5 class="card-title">Vincular socio</h5>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-sm-6">
                <a href="desvincular_socio.php">
                    <img class="card-img-top" src="img/Desvincular.png" alt="Desvincular">
                    <div class="card-body">
                        <h5 class="card-title">Desvincular socio</h5>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-sm-6">
                <a href="crear_grupo.php">
                    <img class="card-img-top" src="img/OtroGrupo.png" alt="Añadir grupo">
                    <div class="card-body">
                        <h5 class="card-title">Crear grupo</h5>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-sm-6">
                <a href="mis_grupos.php">
                    <img class="card-img-top" src="img/Grupo.png" alt="Grupo">
                    <div class="card-body">
                        <h5 class="card-title">Mis grupos</h5>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-sm-6">
                <a href="listado_tareas.php">
                    <img class="card-img-top" src="img/Tarea.png" alt="Grupo">
                    <div class="card-body">
                        <h5 class="card-title">Crear tarea</h5>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-sm-6">
                <a href="listado_tareas.php">
                    <img class="card-img-top" src="img/MisTareas.png" alt="Grupo">
                    <div class="card-body">
                        <h5 class="card-title">Mis tareas</h5>
                    </div>
                </a>
            </div>
            {%endif%}
            
              
          </div>
    </div>
</div>
{%endblock%}