{%extends "base.html"%}

{%block titulo%}Menú principal{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item active">Menú principal</li>
{%endblock%}

{%block cuerpo%}
<div class="container">
    <div class="offset-lg-4 col-lg-4 titulo">
        <h2>Menú principal</h2>
    </div>
</div>
<div class="container">
    <div class="offset-lg-4 col-lg-4 sombreado">
        <ul>
            <li><a href="registrosocios.php">Registrar socio</a></li>
            <li><a href="registro.php">Registrar facilitador/administrador</a></li>
            <li><a href="listado_socios.php">Lista de socios</a></li>
            <li><a href="listado_administradores.php">Lista de administradores</a></li>
            <li><a href="listado_facilitadores.php">Lista de facilitadores</a></li>
            <li><a href="mis_socios.php">Mis socios</a></li>
            <li><a href="vincular_socio.php">Vincular socio</a></li>
            <li><a href="desvincular_socio.php">Desvincular socio</a></li>
            <li><a href="anadir_socio_grupo.php">Añadir socio a grupo</a></li>
            <li><a href="eliminar_socio_grupo.php">Eliminar socio de grupo</a></li>
            <li><a href="crear_grupo.php">Crear grupo</a></li>
            <li><a href="mis_grupos.php">Mis grupos</a></li>
            <li><a href="editar_grupo.php">Editar grupo</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
</div>
{%endblock%}