{%extends "base.html"%}

{%block titulo%}Listado de Tareas{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Página principal</li>
<li class="breadcrumb-item active">Mis Socios</li>
{%endblock%}


{%block cuerpo%}
<div class="container">
    <div class="offset-lg-2 col-lg-8 titulo">
        <h2>Mis Socios</h2>
    </div>
</div>
<div class="container">
    <div class="offset-lg-2 col-lg-8 sombreado">
        <table class="table table-hover table-responsive">
            <tbody>
                {% for nombre in nombres %}
                <tr>
                    <td scope="row" class="td1">{{ nombre }}</td>
                    <td class="tdx"><button class="btn btn-success bt1">AÑADIR A GRUPO</button></td>
                    <td class="tdx"><button class="btn btn-danger bt1">DESVINCULAR</button></td>
                    <td class="tdn"><a href="./perfil.php?id={{ ids[loop.index0] }}">►</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}