{%extends "base.html"%}

{%block titulo%}Listado de Tareas{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Menú principal</li>
<li class="breadcrumb-item active">Mis Socios</li>
{%endblock%}


{%block cuerpo%}
<div class="container">
    <div class="offset-lg-2 col-lg-8 titulo">
        <h2>Mis Socios</h2>
    </div>
</div>
<div class="container">
    <div class="offset-lg-2 col-lg-8 sombreado">
        <table class="table table-hover table-responsive">
            <tbody>
                {% for usuario in listadoNombres %}
                <tr>
                    <td scope="row" class="td1">{{ usuario }}</td>
                    <td class="tdx"><button class="btn btn-success bt1" onclick="window.location.replace('anadir_socio_grupo.php?socio={{listadoUsernames[loop.index-1]}}')">AÑADIR A GRUPO</button></td>
                    <td class="tdx"><button class="btn btn-danger bt1" onclick="window.location.replace('desvincular_socio.php?socioADesvincular={{listadoUsernames[loop.index-1]}}&nombreADesvincular={{usuario}}')">DESVINCULAR</button></td>
                    <td class="tdn"><a href="./perfil.php?username={{ listadoUsernames[loop.index-1]}}">►</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary col-12" onclick="window.location.replace('vincular_socio.php')">VINCULAR NUEVO SOCIO</button>
    </div>
</div>
{%endblock%}