{%extends "base.html"%}

{%block titulo%}Listado de Tareas{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Menú principal</li>
<li class="breadcrumb-item active">Mis Socios</li>
{%endblock%}


{%block cuerpo%}
<div class="container">
    <div class="offset-lg-2 col-lg-8 titulo">
        <h2>Mis Socios</h2>
    </div>
</div>
<div class="container">
    <div class="offset-lg-2 col-lg-8 sombreado">
        <script src="js/buscarTablas.js"></script>
        <label for="busqueda" hidden>Buscar socio</label>
        <input type="text" id="busqueda" onkeyup="buscarTabla()" placeholder="Buscar uno de mis socios..." class="form-control">

        <table id="tablaBusqueda" class="table table-hover table-responsive">
            <tbody>
                {% for usuario in listadoNombres %}
                <tr>
                    <td scope="row" class="td1">
                        <a href="./perfil.php?username={{ listadoUsernames[loop.index-1]}}">{{ usuario }}</a>
                        {% if listadoNotificaciones[loop.index - 1] == true %}
                        <img src="img/Admin-private-289909293847829384954937914384.png" alt="Nuevo mensaje" width="10%">
                        {% endif %}
                    </td>
                    <td class="tdx"><button class="btn btn-success bt1" onclick="window.location.replace('anadir_socio_grupo.php?socio={{listadoUsernames[loop.index-1]}}')">AÑADIR A GRUPO</button></td>
                    <td class="tdx"><button class="btn btn-danger bt1" onclick="window.location.replace('desvincular_socio.php?socioADesvincular={{listadoUsernames[loop.index-1]}}&nombreADesvincular={{usuario}}')">DESVINCULAR</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary col-12" onclick="window.location.replace('vincular_socio.php')">VINCULAR NUEVO SOCIO</button>
    </div>
</div>
{%endblock%}