{%extends "base.html"%}

{%block titulo%}Perfil{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Home</li>
<li class="breadcrumb-item active">Perfil</li>
{%endblock%}


{%block cuerpo%}
<div class="container">
    <div class="offset-lg-2 col-lg-8 titulo">
        <h2>Perfil de grupo</h2>
    </div>
</div>
<div class="container">
    <div class="offset-lg-2 col-lg-8 sombreado" id="perfil">
        {% if id != -1 %}
            <h4>Nombre</h4>
            <p>{{infoGrupo.nombre}}</p>

            <h4>Facilitador encargado</h4>
            <p>{{infoGrupo.facilitadorACargo}}</p>

            <h4>Descripcion</h4>
            <p>{{infoGrupo.descripcion}}</p>

            <h4>Socios en el grupo:</h4>
            {%if infoGrupo.socios|length > 0%}
            <table class="table table-hover table-responsive">
              <tbody>
                {%for socio in infoGrupo.socios%}
                  <tr>
                    <td scope="row" class="td1">{{ socio }}</td>
                    <td class="tdx"><button class="btn btn-danger bt1" onclick="window.location.replace('eliminar_socio_grupo.php?grupo={{infoGrupo.nombre}}')">ELIMINAR</button></td>
                    <td class="tdn"><a href="./perfil.php?username={{socio}}">►</a></td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>
              {%for socio in infoGrupo.socios%}

              {%endfor%}
            {%else%}
              <h4>No tienes socios en el grupo todavía :(</h4>
            {%endif%}
            <button class="btn btn-primary bt1 col-12" onclick="window.location.replace('anadir_socio_grupo.php?grupo={{infoGrupo.nombre}}')">AÑADIR SOCIO A GRUPO</button>

            <br>

            <div class="boton_centro">
              <button id="boton" class="btn btn-warning" class = "offset-lg-2 col-lg-8" onclick="window.location.replace('editar_grupo.php?nombre={{infoGrupo.nombre}}&facilitadorACargo={{infoGrupo.facilitadorACargo}}')">EDITAR</button>
              <button id="boton" class="btn btn-danger" class = "offset-lg-2 col-lg-8" data-toggle="modal" data-target="#modalEliminar">ELIMINAR</button>
            </div>
        

        <div class="modal" tabindex="-1" role="dialog" id="modalEliminar">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Eliminar</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>¿Deseas eliminar al siguiente grupo?</p>
                  <h4>{{infoGrupo.nombre}}</h4>
                </div>
                <div class="modal-footer">
                    <form action="php/eliminarGrupo.php" method="post">
                        <input type="text" name="facilitadorACargo" value="{{infoGrupo.facilitadorACargo}}" style="display: none;">
                        <input type="text" name="nombreGrupo" value="{{infoGrupo.nombre}}" style="display: none;">
                        <button type="submit" class="btn btn-danger">SÍ</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
    </div>
</div>
{%endblock%}