{%extends "base.html"%}

{%block titulo%}Perfil{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Home</li>
<li class="breadcrumb-item active">Perfil</li>
{%endblock%}


{%block cuerpo%}
<div class=" {% if infoUsuario.rol != "socio" %}container{% endif %}">
    <div class="{% if infoUsuario.rol == "socio" %} offset-lg-1 col-lg-10 {% else %} offset-lg-2 col-lg-8 {% endif %} titulo">
        {% if infoUsuario.rol == "ambos" or  infoUsuario.rol == "facilitador"%}
          <h1>Perfil de Facilitador</h1>
        {% elseif infoUsuario.rol == "admin" %}
          <h1>Perfil de Administrador</h1>
        {% else %}
          <h1>Perfil de Socio</h1>
        {% endif %}
    </div>
</div>
<div class="{% if infoUsuario.rol != "socio" %}container{% endif %}">
    <div class="{% if infoUsuario.rol == "socio" %} offset-lg-1 col-lg-10 {% else %} offset-lg-2 col-lg-8 {% endif %} sombreado" id="perfil">
      <div class="row">
        <div class="col-xs-12 {% if infoUsuario.rol == "socio" %} col-lg-2 {% else %} col-lg-4 {% endif %}">
          <img src="{{imagen}}" alt="Foto de perfil" class="imgprefs">
        </div>
        <div class="col-xs-12 {% if infoUsuario.rol == "socio" %} col-lg-4 {% else %} col-lg-8 {% endif %}">
          {% if id != -1 %}
          <h4>Nombre y apellidos</h4>
          {{ infoUsuario.nombre }}
          <br><br>
          {% if infoUsuario.rol == "admin" or infoUsuario.rol == "facilitador" or infoUsuario.rol == "ambos" %}
          <h4>Mote / Nombre preferido</h4>
          {{ infoUsuario.mote }}
          <br><br>
          <h4>Correo</h4>
          {{ infoUsuario.username }}
          <br><br>
          <h4>Dirección</h4>
          {{ infoUsuario.direccion }}
          <br><br>
          <h4>Teléfono</h4>
          {{ infoUsuario.telefono }}
          <br><br>
          
          {% if infoUsuario.rol == "facilitador" or infoUsuario.rol == "ambos" %}
          <label for="socios"><h4>Socios a cargo</h4></label>
          <select class="form-control" id="socios">
            {% for i in sociosacargo %}
              <option value="{{i.username}}" onclick="window.location.replace('perfil.php?username={{i.username}}')">{{i.nombre}}</option>
            {%endfor%}
          </select>
          <br>
          {% endif %}
          <br>
          {%else%}
          <h4>Identificador</h4>
          {{infoUsuario.username}}
          <br><br>
          <label for="facilitadores"><h4>Facilitadores a cargo</h4></label>
          <select class="form-control" id="facilitadores">
            {%for facilitador in facilitadores%}
              <option onclick="window.location.replace('perfil.php?username={{facilitador.username}}')">{{facilitador.nombre}}</option>
            {%endfor%}
          </select>
          <br><br>
          <h4>Preferencias</h4>
          <div class="container">
              <div class="row">
                  <div class="col-4 prefs">
                    {% if preferencias.video == "Si" %}
                      <img src="img/video.png" alt="Video" class="imgprefs">
                    {% else %}
                      <img src="img/noVideo.png" alt="Video" class="imgprefs">
                    {% endif %}
                      

                  </div>
                  <div class="col-4 prefs">
                    {% if preferencias.audio == "Si" %}
                      <img src="img/audio.png" alt="Video" class="imgprefs">
                    {% else %}
                      <img src="img/noAudio.png" alt="Video" class="imgprefs">
                    {% endif %}
                  </div>

                  <div class="col-4 prefs">
                    {% if preferencias.texto == "Si" %}
                      <img src="img/texto.png" alt="Video" class="imgprefs">
                    {% else %}
                      <img src="img/noTexto.png" alt="Video" class="imgprefs">
                    {% endif %}
                  </div>
              </div>
          </div>
          <br><br>
          {% endif %}
          
          <button id="boton" class="btn btn-warning" class = "offset-lg-2 col-lg-8" onclick="window.location.replace('editar.php?username={{infoUsuario.username}}')">EDITAR</button>
          <button id="botonEliminar" class="btn btn-danger" class = "offset-lg-2 col-lg-8" data-toggle="modal" data-target="#modalEliminar">ELIMINAR</button>
  
          <div class="modal" tabindex="-1" role="dialog" id="modalEliminar">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Eliminar {{infoUsuario.rol}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>¿Deseas eliminar al siguiente {{infoUsuario.rol}}?</p>
                    <h4>{{infoUsuario.nombre}}</h4>
                    <h4>{{infoUsuario.username}}</h4>
                  </div>
                  <div class="modal-footer">
                      <form action="php/eliminarUsuario.php" method="post">
                        <label for="username" hidden>Usuario</label>
                          <input type="text" name="username" id="username" value="{{infoUsuario.username}}" style="display: none;">
                          <label for="rol" hidden>Rol</label>
                          <input type="text" name="rol" id="rol" value="{{infoUsuario.rol}}" style="display: none;">
                          <button type="submit" class="btn btn-danger">SÍ</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        {% if infoUsuario.rol == "socio" %}
        <div class="col-lg-6">
        <div class="container">
          <h4>Chat con {{infoChat.socio}}</h4>
            <div id="idChat" hidden>{{ infoChat.idChat }}</div>
            <div id="nombreChat" hidden>{{ infoChat.nombreChat }}</div>
            <div id="moteFacilitador" hidden>{{ infoChat.mote }}</div>
            
            <div class="chat" id="chat">
                <div class="members-count" hidden>-</div>
                <p hidden>Personas conectadas:</p>
                <div class="members-list" hidden>-</div>
                <p>Mensajes directos con el socio:</p>
                <div class="messages"></div>
                <form class="message-form" onsubmit="return false;">
                    <label for="inputMensaje" hidden>Escribe un mensaje</label>
                    <input class="message-form__input" id="inputMensaje" placeholder="Escribe un mensaje..." type="text"/>
                    <label for="buttonMensaje" hidden>Enviar un mensaje</label>
                    <input class="message-form__button" id="buttonMensaje" value="Enviar" type="submit" onclick="notificarNuevoMensaje();"/>
                </form>
            </div>
            <br>
          <h4>Histórico de tareas asignadas</h4>
          <br>
          <script src="js/buscarTablas.js"></script>
          <label for="busqueda" hidden>Buscar tarea</label>
          <input type="text" id="busqueda" onkeyup="buscarTabla()" placeholder="Buscar tarea..." class="form-control">
          <table id="tablaBusqueda" class="table table-hover table-responsive">
              <tbody>
                  {% for tarea in tareasAsignadas %}
                  <tr>
                      <td scope="row" class="td1">
                          <a href="./tarea_enviada.php?nombre={{tarea.nombreTarea}}&socio={{tarea.socioAsignado}}&fechaEntrega={{tarea.fechaEntrega}}">{{ tarea.nombreTarea }}</a>
                          {% if tarea.nuevoMensajeFacilitador == true %}
                              <img src="img/Admin-private-289909293847829384954937914384.png" alt="Nuevo mensaje" width="10%">
                          {% endif %}

                          {% if tarea.vista == false %}
                              <img src="img/Admin-private-29821734098432348123322835302.png" alt="Aún no vista" width="10%">
                          {% endif %}
                      </td>
                      <td class="tdx"></td>
                      <td class="tdn"></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
        </div>
        {% endif %}
      </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/chat.js"></script>
{%endblock%}