{%extends "base.html"%}

{%block titulo%}Tarea enviada{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Menú principal</li>
<li class="breadcrumb-item">Tareas</li>
<li class="breadcrumb-item active">Tarea enviada</li>
{%endblock%}

{%block cuerpo%}
<div class="offset-1 col-10 titulo">
    <h1>Tarea enviada</h1>
</div>

<div class="offset-1 col-10 sombreado">
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <div class="row">
                <div class="col-3">
                    <img class="card-img-top" src="{{ infoTarea.fotoTarea }}" alt="Card image cap">
                </div>
                <div class="col-8">
                    <div class="class-group">
                        <h2 for="nombreTarea">{{ infoTarea.nombre }}</h4>
                    </div>
                    <div class="class-group">
                        <p>{{ infoTarea.descripcion }}</p>
                    </div>

                    {%if infoTarea.audioTarea != "img/"%}
                        <h4>Audio de la tarea</h4>
                        <div class="class-group">
                            
                            <audio controls id="audio" class="embed-responsive-item audio_w">
                                <source src="{{ infoTarea.audioTarea }}">
                            </audio>
                        </div>
                    {%endif%}

                    {%if infoTarea.videoTarea != "img/" %}
                        <h4>Vídeo de la tarea</h4>
                        <div id="video" class="class-group embed-responsive embed-responsive-16by9">
                            
                            <iframe src="{{ infoTarea.videoTarea }}" class="embed-responsive-item" allowfullscreen></iframe>
                        </div>
                    {%endif%}
                </div>
            </div>
        </div>
    
        <div class="col-xs-12 col-lg-4 sombreado_extra">
            <h4>Socio</h4>
            <p>{{entrega.nombreSocio}}</p>
            <h4>Enviado el</h4>
            <p>{{entrega.fechaEnvio}}</p>
            <h4>Fecha límite de entrega</h4>
            <p>{{entrega.fechaLimiteEntrega}}</p>
            <h4>Respuesta</h4>
                {% if entrega.respuesta == "" %}
                    <p>El socio no ha entregado nada todavía</p>
                {% else %}
                    {% if entrega.permiteAudio == true %}
                        <div class="class-group">    
                            <audio controls id="audio" class="embed-responsive-item audio_w">
                                <source src="{{ entrega.respuesta }}">
                            </audio>
                        </div>
                    {% endif %}
                    {% if entrega.permiteVideo == true %}
                        <div id="video" class="class-group embed-responsive embed-responsive-16by9">    
                            <iframe src="{{ entrega.respuesta }}" class="embed-responsive-item" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                    {% if entrega.permiteTexto == true %}
                        <p>{{entrega.respuesta}}</p>
                    {% endif %}
            {% endif %}
            <h4>Chat con el socio</h4>
            <div id="idChat" hidden>{{ entrega.idChat }}</div>
            <div id="nombreChat" hidden>{{ entrega.nombreChat }}</div>
            <div id="moteFacilitador" hidden>{{ mote }}</div>
            
            <div class="chat" id="chat">
                <div class="members-count" hidden>-</div>
                <p>Personas conectadas:</p>
                <div class="members-list">-</div>
                <p>Chat:</p>
                <div class="messages"></div>
                <form class="message-form" onsubmit="return false;">
                    <input class="message-form__input" placeholder="Escribe un mensaje..." type="text"/>
                    <input class="message-form__button" value="Enviar" type="submit"/>
                </form>
            </div>
        </div>
    </div>

        <div class="boton_centro">
            {% if cuenta == infoTarea.creador %}
                <button type="submit" class="btn btn-warning" onclick="window.location.replace('editar_tarea.php?nombre={{infoTarea.nombre}}')">EDITAR TAREA</button>
                <button type="button" class="btn btn-primary" onclick="window.location.replace('enviar_tarea_socio.php?nombre={{infoTarea.nombre}}')">ENVIAR A SOCIO</button>
                <button type="button" class="btn btn-info" onclick="window.location.replace('enviar_tarea_grupo.php?nombre={{infoTarea.nombre}}')">ENVIAR A GRUPO</button>
            {% endif %}  
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalEliminar">ELIMINAR</button>
        </div>

    <div class="modal" tabindex="-1" role="dialog" id="modalEliminar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar tarea</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Deseas eliminar la siguiente tarea?</p>
                    <img class="card-img-top" src="{{ infoTarea.fotoTarea }}" alt="Card image cap">
                    <h4 id="nombreAEliminar">{{ infoTarea.nombre }}</h4>
                </div>
                <div class="modal-footer">
                    <form action="php/eliminarTarea.php" method="post">
                        <label for="tareaAEliminar" hidden>Tarea a eliminar</label>
                        <label for="facilitador" hidden>Facilitador a cargo</label>
                        <input type="text" name="tareaAEliminar" id="tareaAEliminar" value="{{infoTarea.nombre}}" style="display: none;">
                            <input type="text" name="facilitador" id="facilitador" value="{{infoTarea.creador}}" hidden>
                        <button type="submit" class="btn btn-danger">SÍ</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/chat.js"></script>
{%endblock%}
