{%extends "base.html"%}

{%block titulo%}Vincular socio{%endblock%}

{%block breadcrumbs%}
<li class="breadcrumb-item">Menú principal</li>
<li class="breadcrumb-item">Mis socios</li>
<li class="breadcrumb-item active">Vincular socio</li>
{%endblock%}

{%block cuerpo%}
<div class="container">
    <div class="offset-lg-2 col-lg-8 titulo">
        <h2>Vincular socio</h2>
    </div>
</div>
<div class="container">
    <div class="offset-lg-2 col-lg-8 sombreado">
        <form action="" method="post">
            <div class="class-group">
                <label for="socioAVincular" >Socio a vincular</label>
                <select name="socioAVincular" class="form-control">
                    {%for socio in socios%}
                        <option value="{{socio.username}}">{{socio.nombre}}</option>
                    {%endfor%}
                </select>
            </div>

            <div class="boton_centro">
                <button type="submit" class="btn btn-primary">VINCULAR</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}