body{
    margin-bottom: 30%;
}

.espacio{
    padding-top: 10px;
}

.sombreado{
    background-color: rgba(200, 200, 200, 0.5);
    padding-bottom: 2%;
    padding-top: 2%;
    margin-bottom: 3%;
}

.sombreado_extra{
    background-color: rgba(131, 131, 131, 0.226);
    padding-bottom: 2%;
    padding-top: 2%;
    margin-bottom: 3%;
}

.img-logo>a>img{
    max-width: 100%;
}

.img-logo{
    height: auto;
    width: 7%;
    max-height: 72px;
    max-width: 250px;
    min-width: 100px;
}

.class-group{
    padding-bottom: 20px;
}

.nav-link:hover{
    background-color: green;
}

.titulo{
    background-color: #369A88;
    text-align: center;
    color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0;
}

.navbar{
    background-color: #369A88;
}

.nav-link{
    font-size: large;
}

.card-footer{
    text-align: center;
}

.error{
    color: red;
    font-size: xx-small;
    display:none;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem; 
  }
  
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

.table {
    border-top: 0.5px solid #000000;
  }
  tr{
     border-top: 0.5px solid #000000;
     border-bottom: 0.5px solid #000000;
     width: 100%;
  }
  td{
    border-top: 0.5px solid #000000;
    border-bottom: 0.5px solid #000000;
    width: 100%; 
  }

.td1{
    width: 40%;
    font-size: 125%;
}

.tdx{
    width: 27.5%;
}

.tdn{
    width:5%;
    font-size: 150%;
}
.bt1{
    width:100%;
}

#perfil {
}

.imgprefs{
    max-width: 80%;
}

.boton_centro{
    display: block;
    text-align: center;
    margin-top: 5%;
}

.invisibilidad{
    visibility: hidden;
}

.prefs>p{
    text-align: center;
}

.card{
    margin-top: 5px;
}

#busqueda{
    margin-bottom: 2%;
}

.card-title{
    text-align: center;
}

.image--cover {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    min-height: 50px;
    border-radius: 50%;
  
    object-fit: cover;
    object-position: center right;
    margin-left: 10px;
  }

.nav-item{
    margin-top: 10px;
}

input[type='checkbox'] {
    zoom: 2;
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  margin-right: 3%;
}

input[type='radio'] {
    zoom: 1.5;
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  margin-right: 3%;
}


#busqueda{
    font-size: larger;
}

#audio{
    width: 100%;
    max-width: 600px;
}